.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleInput:checked+.toggleSlider {
  background-color: #2196F3;
}

.toggleInput:focus+.toggleSlider {
  box-shadow: 0 0 1px #2196F3;
}

.toggleInput:checked+.toggleSlider:before {
  transform: translateX(26px);
}

/* Optional: styles for focus-visible to show the toggle has focus after being selected via keyboard */
.toggleInput:focus-visible+.toggleSlider {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.icon {
  display: none;
  color: #fff;
  font-size: 18px;
  user-select: none;
  font-weight: 900;
}

.toggleInput:checked+.toggleSlider .iconOff {
  display: none;
}

.toggleInput:checked+.toggleSlider .iconOn {
  display: block;
}


.toggleInput:not(:checked)+.toggleSlider {
  justify-content: flex-end;
}


.toggleInput:not(:checked)+.toggleSlider .iconOff {
  display: block;
  color: black;
  z-index: 2;
}

.toggleInput:not(:checked)+.toggleSlider .iconOn {
  display: none;
}

.toggleInput:checked+.toggleSlider {
  background-color: black;
}

.toggleInput:checked+.toggleSlider:before {
  transform: translateX(26px);
}