.root {
  background-color: #e8e8e8;
  border-radius: 4px;
  margin: 2vh auto;
  max-width: 666px;
  padding: 1em;
  position: relative;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  & > *:not(:last-child) {
    margin-right: 14px;
  }
}


.title {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrestlers {
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 120px;
}

.input {
  box-shadow: 2px 2px 0px 0px #000 inset, 1px 1px 0px 0px #000;
  font-size: 16px;
  font-style: normal;
  margin: 12px 0 8px;
  padding: 12px 0 12px 44px;
  width: 70%; 
}

.mag {
  position: absolute;
  left: 4px;
  top: -14px;
  font-size: 32px;
}