.root {
  background-color: #e8e8e8;
  border-radius: 4px;
  margin: 2vh auto;
  max-width: 666px;
  padding: 1em;
  position: relative;
}

.editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  > div {
    margin: 0 0 1em 0;
    min-width: 50%
  }
}

.ratingShortcuts {
  padding-left: 1em;
  > li {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
  }
}