.root {
  background-color: #e8e8e8;
  border-radius: 4px;
  margin: 2vh auto;
  max-width: 666px;
  padding: 1em;
  position: relative;
}


.editableTitle {
  width: calc(100% - 20px);
  font-size: 1.5em;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px dashed #bababa;
  background-color: transparent;
  color: #000;
  text-align: center;
  box-sizing: border-box;
  transition: all 250ms ease;
  cursor: text;
}

.editableTitle:focus {
  background-color: #efefef;
  border-color: #0038FF;
  outline: 0;
  box-shadow: none;
}